@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kancelaria Prawna</title>
    <link rel="stylesheet" href="~/css/styles.css" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">Kancelaria Prawnicza</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Strona Główna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/home/Prawnicy">Prawnicy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/home/Sprawy">Sprawy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/home/PrawnicySprawy">Sprawy przypisane do prawnikow</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/home/Prawnicy_Zarobki">Zarobki Prawnikow</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/home/Liczba_Spraw_Prawnika">Liczba Spraw Prawnika</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/home/Sprawy_W_Toku">Sprawy w toku</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Klient" asp-action="Index">Klienci</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Faktura" asp-action="Index">Faktury</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Platnosc" asp-action="Index">Płatności</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="KlienciFakturyPlatnosci">Klienci Faktury Platnosci</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="CzasPracy" asp-action="Index">Czas Pracy</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="container">
        @RenderBody() <!-- Tu jest renderowana zawartość konkretnego widoku -->
    </div>

    <footer>
        <div class="text-center">
            <p>&copy; 2024 Kancelaria Prawnicza</p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js"></script>
</body>
</html>
