@model IEnumerable<BazyDanych1Projekt.Models.LiczbaSprawPrawnika>

@{
    ViewData["Title"] = "Liczba_Spraw_Prawnika";
}

<h1>Liczba_Spraw_Prawnika</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nazwisko)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LiczbaSpraw)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nazwisko)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LiczbaSpraw)
            </td>
        </tr>
}
    </tbody>
</table>
